.idea
.vs
.vscode
*.user
node_modules
packages
bin
obj
dist
/src/Trimedx.Healthcare.Web/appsettings.Development.json
/src/Trimedx.Healthcare.Web/dbConnectionSettings.Development.json
/src/Trimedx.Healthcare.Web/publish.bat
/src/Trimedx.Healthcare.Web/publish_demo.bat
/src/Trimedx.Healthcare.Web/rebuild.bat
/src/Trimedx.Healthcare.Web/restart.bat
/performance-analysis
/src/Trimedx.Healthcare.DB/SPs.sql
/src/Trimedx.Healthcare.DB/CAMInserts/run_demo.bat
/src/Trimedx.Healthcare.DB/CAMInserts/run_stage.bat
/src/Trimedx.Healthcare.DB/CAMInserts/run111.bat
/src/Trimedx.Healthcare.DB/CAMInserts/ascension
/src/Trimedx.Healthcare.Web/wwwroot/dist.landing
/src/Trimedx.Healthcare.Web/frestart.bat
tasks images
/src/Trimedx.Healthcare.Web/wwwroot
dist.admin
/src/Trimedx.Healthcare.Web.Admin/appsettings.Development.json
/src/Trimedx.Healthcare.Web.Admin/dbConnectionSettings.Development.json
/src/Trimedx.Healthcare.Web.Admin/Logs/
/src/Trimedx.Healthcare.Web.Admin/wwwroot/CustomerDB/
/src/Trimedx.Healthcare.SyncService/App.config
/src/Trimedx.Healthcare.SyncService/Install/
/src/Trimedx.Healthcare.Web/publish_bamboo.bat
/tests/Trimedx.Healthcare.IntegrationTests/database
/src/Trimedx.Healthcare.ReportService/dbConnectionSettings.json
/src/Trimedx.Healthcare.ReportService/appsettings.json
/src/Trimedx.Healthcare.ReportService/Install/