<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="DevExpress" value="https://nuget.devexpress.com/b5DfQd7it9AU4paYhqbBMSv5yjTxsSbT9V828YbfYIq4Q2WrWv/api" />
  </packageSources>
</configuration>